<footer class="text-black my-2 bg-bg-white-50 px-10">
    <div class="container mx-auto px-4">
      <!-- Logo and Social Icons -->
      <div class="flex flex-col md:flex-row justify-start md:justify-between md:items-center mb-2">
        <!-- Logo -->
        <div>
          <a href="/" class="text-xl font-bold flex items-center gap-2">
            <span class="font-bold text-black">
              DehelGalerie
            </span>
          </a>
        </div>
        <!-- Social Icons -->
        
      </div>
      <!-- Main Footer Content -->
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-8 text-black ">
        <!-- Acceuil -->
        <div>
          <a href="/" class="font-semibold mb-4">Accueil</a>
        </div>
        <!-- À propos -->
        <div>
          <a href="#" class="font-semibold mb-4">À propos</a>
        </div>
        <!-- Contact -->
        <div>
          <a href="#" class="font-semibold mb-4">Contact</a>
        </div>
        <!-- la galerie-->
        <div>
          <a href="/galerie" class="font-semibold mb-4">La galerie</a>
          <ul class="space-y-1">
            <li><a href="#" class="hover:text-white transition-colors text-[#9ca3af] mt-2">les dessins</a></li>
            <li><a href="#" class="hover:text-white transition-colors text-[#9ca3af]">les planches de dessins</a></li>
            <li><a href="#" class="hover:text-white transition-colors text-[#9ca3af]">les BD</a></li>
            <li><a href="#" class="hover:text-white transition-colors text-[#9ca3af]">les tableaux</a></li>
          </ul>
        </div>
        <!-- Subscribe -->
         <!-- 
       <div class="flex-col md:col-span-2 gap-2  2xl:flex ">
      <div class="font-bold uppercase  pb-3">Subscribe</div>
      <p class="pb-2">Subscribe to our newsletter.</p>
      <form class="flex items-center">
       <input
       type="email"
       name="email"
       placeholder="Enter your email"
       class="w-full bg-gray-100 text-gray-700 rounded-l-lg py-3 px-4 focus:outline-none focus:ring-purple-600 focus:border-transparent"
        required="">
      <button
      type="submit"
      class=" bg-[#3F00E7] text-[#e0e1db] font-semibold py-3 px-6 rounded-r-lg transition-colors duration-300">
      Subscribe
      </button>
      </form>
      </div>-->
    </div>
      <!-- Bottom Bar -->
      <div class="border-t border-gray-800 pt-2 text-center items-center text-sm">
       <p>
        <a href="https://dehellgalerie.fr" target="_blank">
         DehelGalerie
        </a> 
         © <%= new Date().getFullYear() %> Tous droits réservés 
      </p>
      </div>
    </div>
  </footer>




</body>


</html>