<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dehellgalerie</title>

  <!-- Pico.css : plutôt adapté pour du prototypage -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">



</head>
<body>
  <header>
    <nav>
      <ul>
        <a href="/">
          <img src="/images/community.svg" alt="Logo Trombinoclock">
        </a>
      </ul>

      <ul>
          <li>Bonjour </li>
        
        <li><a href="/promos">Promotions</a></li>
        <li><a href="/students">Étudiants</a></li>
        
          <li><a href="/logout">Se deconnecter</a></li>
        
      </ul>
    </nav>
  </header>

<p>hello world</p>













  <footer>
    <p>
      <a href="https://oclock.io" target="_blank">
        O'Clock
      </a> 
      - <%= new Date().getFullYear() %> 
      - © Tous droits réservés
    </p>
  </footer>
  </body>
  </html>






