<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trombinoclock</title>

  <!-- Pico.css : plutôt adapté pour du prototypage -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

  <!-- Chemin absolu du fichier CSS sur notre serveur -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <a href="/">
          <img src="/images/community.svg" alt="Logo Trombinoclock">
        </a>
      </ul>

      <ul>

        <!-- <% if (session.username) { %>
          <li>Bonjour <%= session.username %></li>
        <% } %>
        <li><a href="/promos">Promotions</a></li>
        <li><a href="/students">Étudiants</a></li>
        <% if (session.username) { %>
          <li><a href="/logout">Se deconnecter</a></li>
        <% } %> -->
      </ul>
    </nav>
  </header>

<p>hello world</p>













  <footer>
    <p>
      <a href="https://oclock.io" target="_blank">
        O'Clock
      </a> 
      - <%= new Date().getFullYear() %> 
      - © Tous droits réservés
    </p>
  </footer>
  </body>
  </html>






