<%- include('partials/header') %>

    <header class="relative w-full h-auto md:h-96 bg-center bg-cover flex items-center justify-center text-white text-center background-hdr-img">
      <div class="bg-black/50 absolute inset-0"></div> <!-- Overlay pour assombrir l'image -->
      <div class="relative z-9 px-4">
        <h1 class="text-xl md:text-3xl lg:text-4xl font-bold">Bienvenue sur DehelGalerie</h1>

        <h1 class="text-base md:text-xl lg:text-2xl font-bold mt-2">Un espace dédié à l’art, à la réflexion et à la liberté d’expression</h1>
        
        <p class="text-sm md:text-base lg:text-base mt-2 px-4">Découvrez l’univers unique de DehelGalerie, un espace dédié à l’œuvre d’une vie. Ce site a été créé pour présenter et préserver le travail réalisé par mon père en tant qu’artiste, à travers ses dessins, peintures et créations qui ont marqué son parcours.</p>

        <p class="text-sm md:text-base lg:text-base mt-2 px-4">DehelGalerie est bien plus qu’une simple collection d’œuvres : c’est un lieu de réflexion, de critique et d’expression. Certains contenus, notamment des caricatures, peuvent heurter la sensibilité de certaines personnes. Loin d’une volonté de provoquer gratuitement, ces œuvres s’inscrivent dans une tradition de satire engagée, visant à questionner la société, dénoncer ses travers et défendre la liberté d’expression.</p>

        <p class="text-sm md:text-base lg:text-base mt-2 px-4">Mon père croyait en un monde où chacun, peu importe son origine, sa religion ou son histoire, pouvait s’exprimer librement et être respecté. Ses dessins, parfois incisifs, avaient pour but de faire réfléchir, éveiller les consciences et encourager le dialogue.</p>


        <p class="text-sm md:text-base lg:text-base mt-2 px-4">Nous espérons que vous prendrez le temps de parcourir son travail avec un esprit ouvert et curieux. Bonne visite sur DehelGalerie !</p>

      </div>
    </header>

    
    <section class="pt-2 bg-gray-50">
      <!-- Encart Titre -->
      <div class="relative w-full md:w-2/3 lg:w-2/3 mb-8 ml-2 text-white px-8 py-4" >
          <h2 class=" text-base md:text-xl lg:text-2xl font-bold relative z-10">Les dernières œuvres ajoutées</h2>
        <div class="w-full absolute inset-0 bg-gradient-to-r from-black to-transparent rounded-lg"></div>
      </div>

      <div class="w-full overflow-hidden pl-35 relative" id="slider">
      <!-- Cards -->
      <div class="flex flex-row gap-20 w-max mb-10 grid-5">
        <!-- Card 1 -->
        <div class="flex flex-col rounded-2xl w-72 bg-[#ffffff] shadow-xl">
          <figure class="flex justify-center items-center rounded-2xl">
              <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
          </figure>
          <!---->
          <div class="flex flex-col p-8">
              <div class="text-2xl font-bold   text-[#374151] pb-6">Micket et yoda</div>
              <div class="flex text-sm font-bold text-[#374151]">Titre :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
              </div>
              <div class="flex text-sm font-bold text-[#374151]">Format :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
              </div>
              <div class="flex text-sm font-bold text-[#374151]">Artiste :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
              </div>
  
  
              <div class="flex justify-end pt-6">
                  <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
              </div>
              <!---->
          </div>
          </div>
        
        <!-- Card 2 -->
        <div class="flex flex-col rounded-2xl w-72 bg-[#ffffff] shadow-xl">
        <figure class="flex justify-center items-center rounded-2xl">
            <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
        </figure>
        <!---->
        <div class="flex flex-col p-8">
            <div class="text-2xl font-bold   text-[#374151] pb-6">Micket et yoda</div>
            <div class="flex text-sm font-bold text-[#374151]">Titre :
              <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
            </div>
            <div class="flex text-sm font-bold text-[#374151]">Format :
              <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
            </div>
            <div class="flex text-sm font-bold text-[#374151]">Artiste :
              <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
            </div>


            <div class="flex justify-end pt-6">
                <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Try it out!</button>
            </div>
            <!---->
        </div>
        </div>

        <!-- Card 3 -->
        <div class="flex flex-col rounded-2xl w-72 bg-[#ffffff] shadow-xl">
          <figure class="flex justify-center items-center rounded-2xl">
              <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
          </figure>
          <!---->
          <div class="flex flex-col p-8">
              <div class="text-2xl font-bold   text-[#374151] pb-6">Micket et yoda</div>
              <div class="flex text-sm font-bold text-[#374151]">Titre :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
              </div>
              <div class="flex text-sm font-bold text-[#374151]">Format :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
              </div>
              <div class="flex text-sm font-bold text-[#374151]">Artiste :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
              </div>
  
  
              <div class="flex justify-end pt-6">
                  <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Try it out!</button>
              </div>
              <!---->
          </div>
          </div>
        
        <!-- Card 4 -->
        <div class="flex flex-col rounded-2xl w-72 bg-[#ffffff] shadow-xl">
          <figure class="flex justify-center items-center rounded-2xl">
              <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
          </figure>
          <!---->
          <div class="flex flex-col p-8">
              <div class="text-2xl font-bold   text-[#374151] pb-6">Micket et yoda</div>
              <div class="flex text-sm font-bold text-[#374151]">Titre :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
              </div>
              <div class="flex text-sm font-bold text-[#374151]">Format :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
              </div>
              <div class="flex text-sm font-bold text-[#374151]">Artiste :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
              </div>
  
  
              <div class="flex justify-end pt-6">
                  <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Try it out!</button>
              </div>
              <!---->
          </div>
          </div>

          <!-- Card 5 -->
        <div class="flex flex-col rounded-2xl w-72 bg-[#ffffff] shadow-xl">
          <figure class="flex justify-center items-center rounded-2xl">
              <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
          </figure>
          <!---->
          <div class="flex flex-col p-8">
              <div class="text-2xl font-bold   text-[#374151] pb-6">Micket et yoda</div>
              <div class="flex text-sm font-bold text-[#374151]">Titre :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
              </div>
              <div class="flex text-sm font-bold text-[#374151]">Format :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
              </div>
              <div class="flex text-sm font-bold text-[#374151]">Artiste :
                <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
              </div>
  
  
              <div class="flex justify-end pt-6">
                  <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Try it out!</button>
              </div>
              <!---->
          </div>
          </div>


      </div>
     </div>

    <div class="flex justify-between items-center">
      <button id="scrollLeft" class="ml-145 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-600 transition duration-200">
            ⬅️
      </button>

      <button id="scrollRight" class="mr-145 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-600 transition duration-200">
            ➡️
      </button>

    </div>

    </section>
  
  
  
  <%- include('partials/footer') %>

  





