<%- include('partials/header') %>

<section class="pt-2 bg-gray-50 w-full">
    <div class="flex flex-col">

        <div class="pt-2 bg-blue-500 mx-2 my-2 rounded-lg">
            <!-- Encart Titre -->
            <div class="relative w-full md:w-2/3 lg:w-2/3 mb-8 ml-2 text-white px-8 py-2" >
                <h2 class=" text-base md:text-xl lg:text-2xl font-bold relative z-10">Les dessins</h2>
              <div class="w-full absolute inset-0 bg-gradient-to-r from-black to-transparent rounded-lg"></div>
            </div>
      
            <div class="w-full overflow-hidden pl-25 relative" id="slider">
            <!-- Cards -->
            <div class="flex flex-row gap-20 w-max mb-10 grid-5">
              <!-- Card 1 -->
              <div class="flex flex-col rounded-2xl w-55 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
              
              <!-- Card 2 -->
              <div class="flex flex-col rounded-2xl w-55 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
      
              <!-- Card 3 -->
              <div class="flex flex-col rounded-2xl w-55 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
              
              <!-- Card 4 -->
              <div class="flex flex-col rounded-2xl w-55 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
      
                <!-- Card 5 -->
                <div class="flex flex-col rounded-2xl w-55 bg-[#ffffff] shadow-xl">
                    <figure class="flex justify-center items-center rounded-2xl">
                        <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                    </figure>
                    <!---->
                    <div class="flex flex-col p-4">
                        <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                        <div class="flex text-sm font-bold text-[#374151]">Titre :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                        </div>
                        <div class="flex text-sm font-bold text-[#374151]">Format :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                        </div>
                        <div class="flex text-sm font-bold text-[#374151]">Artiste :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                        </div>
            
            
                        <div class="flex justify-end pt-2">
                            <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                        </div>
                        <!---->
                    </div>
                    </div>
      
      
            </div>
           </div>
      
          <div class="flex justify-between items-center">
            <button id="scrollLeft" class="ml-145 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-600 transition duration-200">
                  ⬅️
            </button>
      
            <button id="scrollRight" class="mr-145 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-600 transition duration-200">
                  ➡️
            </button>
      
          </div>
      
        </div>

        <div class="pt-2 bg-blue-400 mx-2 my-2 rounded-lg">
            <!-- Encart Titre -->
            <div class="relative w-full md:w-2/3 lg:w-2/3 mb-8 ml-2 text-white px-8 py-2" >
                <h2 class=" text-base md:text-xl lg:text-2xl font-bold relative z-10">les planches de dessins</h2>
              <div class="w-full absolute inset-0 bg-gradient-to-r from-black to-transparent rounded-lg"></div>
            </div>
      
            <div class="w-full overflow-hidden pl-35 relative" id="slider">
            <!-- Cards -->
            <div class="flex flex-row gap-20 w-max mb-10 grid-5">
              <!-- Card 1 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
              
              <!-- Card 2 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
      
              <!-- Card 3 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
              
              <!-- Card 4 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
      
                <!-- Card 5 -->
                <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                    <figure class="flex justify-center items-center rounded-2xl">
                        <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                    </figure>
                    <!---->
                    <div class="flex flex-col p-4">
                        <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                        <div class="flex text-sm font-bold text-[#374151]">Titre :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                        </div>
                        <div class="flex text-sm font-bold text-[#374151]">Format :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                        </div>
                        <div class="flex text-sm font-bold text-[#374151]">Artiste :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                        </div>
            
            
                        <div class="flex justify-end pt-2">
                            <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                        </div>
                        <!---->
                    </div>
                    </div>
      
      
            </div>
           </div>
      
          <div class="flex justify-between items-center">
            <button id="scrollLeft" class="ml-145 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-600 transition duration-200">
                  ⬅️
            </button>
      
            <button id="scrollRight" class="mr-145 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-600 transition duration-200">
                  ➡️
            </button>
      
          </div>
      
        </div>

        <div class="pt-2 bg-blue-300 mx-2 my-2 rounded-lg">
            <!-- Encart Titre -->
            <div class="relative w-full md:w-2/3 lg:w-2/3 mb-8 ml-2 text-white px-8 py-2" >
                <h2 class=" text-base md:text-xl lg:text-2xl font-bold relative z-10">les BD</h2>
              <div class="w-full absolute inset-0 bg-gradient-to-r from-black to-transparent rounded-lg"></div>
            </div>
      
            <div class="w-full overflow-hidden pl-35 relative" id="slider">
            <!-- Cards -->
            <div class="flex flex-row gap-20 w-max mb-10 grid-5">
              <!-- Card 1 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
              
              <!-- Card 2 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
      
              <!-- Card 3 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
              
              <!-- Card 4 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
      
                <!-- Card 5 -->
                <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                    <figure class="flex justify-center items-center rounded-2xl">
                        <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                    </figure>
                    <!---->
                    <div class="flex flex-col p-4">
                        <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                        <div class="flex text-sm font-bold text-[#374151]">Titre :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                        </div>
                        <div class="flex text-sm font-bold text-[#374151]">Format :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                        </div>
                        <div class="flex text-sm font-bold text-[#374151]">Artiste :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                        </div>
            
            
                        <div class="flex justify-end pt-2">
                            <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                        </div>
                        <!---->
                    </div>
                    </div>
      
      
            </div>
           </div>
      
          <div class="flex justify-between items-center">
            <button id="scrollLeft" class="ml-145 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-600 transition duration-200">
                  ⬅️
            </button>
      
            <button id="scrollRight" class="mr-145 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-600 transition duration-200">
                  ➡️
            </button>
      
          </div>
      
        </div>

        <div class="pt-2 bg-blue-200 mx-2 my-2 rounded-lg">
            <!-- Encart Titre -->
            <div class="relative w-full md:w-2/3 lg:w-2/3 mb-8 ml-2 text-white px-8 py-2" >
                <h2 class=" text-base md:text-xl lg:text-2xl font-bold relative z-10">les tableaux</h2>
              <div class="w-full absolute inset-0 bg-gradient-to-r from-black to-transparent rounded-lg"></div>
            </div>
      
            <div class="w-full overflow-hidden pl-35 relative" id="slider">
            <!-- Cards -->
            <div class="flex flex-row gap-20 w-max mb-10 grid-5">
              <!-- Card 1 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
              
              <!-- Card 2 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
      
              <!-- Card 3 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
              
              <!-- Card 4 -->
              <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                <figure class="flex justify-center items-center rounded-2xl">
                    <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                </figure>
                <!---->
                <div class="flex flex-col p-4">
                    <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                    <div class="flex text-sm font-bold text-[#374151]">Titre :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Format :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                    </div>
                    <div class="flex text-sm font-bold text-[#374151]">Artiste :
                      <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                    </div>
        
        
                    <div class="flex justify-end pt-2">
                        <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                    </div>
                    <!---->
                </div>
                </div>
      
                <!-- Card 5 -->
                <div class="flex flex-col rounded-2xl w-64 bg-[#ffffff] shadow-xl">
                    <figure class="flex justify-center items-center rounded-2xl">
                        <img src="../img/Micket et yoda.jpg" alt="Card Preview" class="rounded-t-2xl">
                    </figure>
                    <!---->
                    <div class="flex flex-col p-4">
                        <div class="text-2xl font-bold text-[#374151] pb-2">Micket et yoda</div>
                        <div class="flex text-sm font-bold text-[#374151]">Titre :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> Micket et yoda</div>
                        </div>
                        <div class="flex text-sm font-bold text-[#374151]">Format :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> 24x32</div>
                        </div>
                        <div class="flex text-sm font-bold text-[#374151]">Artiste :
                          <div class=" text-sm  font-normal text-[#374151] pl-2"> Daniel lefebvre</div>
                        </div>
            
            
                        <div class="flex justify-end pt-2">
                            <button class="bg-[#7e22ce] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Découvrir</button>
                        </div>
                        <!---->
                    </div>
                    </div>
      
      
            </div>
           </div>
      
          <div class="flex justify-between items-center">
            <button id="scrollLeft" class="ml-145 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-600 transition duration-200">
                  ⬅️
            </button>
      
            <button id="scrollRight" class="mr-145 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-600 transition duration-200">
                  ➡️
            </button>
      
          </div>
      
        </div>

    </div>
</section>

<%- include('partials/footer') %>